{
  "db": {
    "client": "postgre",
    "connection": {
      "host": "127.0.0.1",
      "user": "db_username",
      "password": "db_password",
      "database": "node_express_starter",
      "charset": "utf8"
    }
  }
}
